<section class="contato">
    <div class="container">
        <div class="contato-intro">
            <h1>Contato</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <%
        form_nome = 'formEmail';
        form_prefixo = 'FE';
        form_tipo = 'Email';
        form_canal = 'mensagem';
        form_btn = 'Enviar';
        %>

        <% include form %>

    </div>
</section>