//@import "bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/modal";
$container-max-widths_lp: (xl: $container-max-width);
$container-max-widths: map-merge($container-max-widths, $container-max-widths_lp);
$container-max-widths: map-remove($container-max-widths, xxl);
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/badge";

