// ICOMOON
$icomoon-font-path: "../fonts";


// BOOSTRAP VARIABLES
$grid-gutter-width: 40px;
$container-max-width: 1180px;

$body-bg: #fff;
$body-color: #444;
$primary: #1f6a9c;
$font-family-sans-serif: 'Montserrat', sans-serif;
$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;
$headings-font-weight: bold;
$link-decoration: none;

// LABEL
$form-label-margin-bottom: 0;
$form-label-font-size: 13px;
//$form-label-font-weight: ;
//$form-label-color: ;

// INPUT
$input-padding-y: 8px;
$input-padding-x: 10px;
$input-font-size: 13px;
$input-font-weight: normal;
$input-bg: #eee;
$input-color: #a79e9b;
$input-border-color: #444;
$input-border-width: 1px;
$input-border-radius: 0;
$input-btn-focus-width: 2px;
//$input-focus-color: ;
//$input-focus-border-color: ;

// SELECT
//$form-select-font-weight: ;
$form-select-font-size: 13px;
$form-select-color: #a79e9b;
$form-select-bg: #fff;
$form-select-indicator-color: #fff;
$form-select-border-radius: 0;
$form-select-bg-size: 16px auto;
$form-select-feedback-icon-size: 18px;

// FEEDBACK
$form-feedback-margin-top: 0;
$form-feedback-font-size: 12px;
// $form-feedback-valid-color: ;
// $form-feedback-invalid-color: ;

// PHOTOSWIPE OPTIONS
$pswp__assets-path: "../images/";
//$pswp__background-color: #000;
