.plantas{

    &-item{
        padding: 15px 0;

        @include media-breakpoint-up(lg){
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 50px;
            background: #e8e8e8;
            margin-top: 20px;
        }
        
        figcaption{
            display: none;
        }

        img{
            width: 100%;
        }
        
    }

    &-infos{
        font-size: 30px;
    }

    .tit {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 25px 0 45px;
        font-size: 25px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}