<section class="apartamento">
    <div class="container">
        <h1 class="tit">Apartamento</h1>
        
        <% index_galeria = 1 %>
        <%- include ('galeria') %>
        
    </div>
    <span></span>
</section>