<div class="barra-conversao">
    <button class="barra-conversao-btn js-open-modal" data-modal-target="email">
        <i class="icon-mail"></i>
        <span>Envie um e-mail</span>
    </button>

    <button class="barra-conversao-btn js-open-modal" data-modal-target="telefone">
        <i class="icon-tel"></i>
        <span>Solicite uma ligação</span>
    </button>

    <button class="barra-conversao-btn js-open-modal" data-modal-target="whatsapp">
        <i class="icon-whatsapp"></i>
        <span>Entre em contato</span>
    </button>

    <!-- <button class="barra-conversao-btn js-open-modal" data-modal-target="chat">
      <i class="icon-chat"></i>
      <span>Fale com um corretor</span>
  </button> -->

</div>