<section class="doc" id="doc">
    <div class="container">
        <h1 class="doc-tit-mob">
            No coração da vila <br class="mob"> nova, certificado <br class="mob"> pelo selo D.O.C.
        </h1>
        <div class="doc-img">
            <picture>
                <source media="(max-width: 480px)" srcset="images/fachada-mobile.jpg" />
                <img src="images/fachada-desk.jpg" alt="Fachada" class="img-fluid" />
              </picture>
        </div>
        <div class="container-doc">
            <h1 class="doc-tit">
                No coração da vila nova, <br> certificado pelo selo D.O.C.
            </h1>
            <br />
            <div class="container-doc-paragrafo">
                <p class="doc-par">
                    O quadrilátero em que está o D.O.C Vila Nova é o berço <br class="desk"> da sofisticação em São Paulo. Localizado entre as avenidas <br class="desk"> Brigadeiro Faria Lima, República do Líbano, Juscelino <br class="desk"> Kubitschek e Hélio Pelegrino, o empreendimento  é vizinho <br class="desk"> do Parque Ibirapuera e está a poucos passos  das praças  <br class="desk"> Pereira Coutinho e Cidade de Milão. Muito procuradas pelo  <br class="desk">lazer e pela infraestrutura que oferecem,  atraem as atenções <br class="desk"> dos que apreciam caminhadas e diversão em família.
                </p>
            </div>
            <a href="#contato" class="">
                <button type="submit" class="doc-btn">Saiba Mais</button>
            </a>
            
        </div>
    </div>
</section>