<section class="empreendimentos" id="empreendimentos">
    <div class="container">
        <div class="empreendimentos-engajamento">
            <h1 class="empreendimentos-tit">
                Arquitetura marcante conectada <br> a elementos naturais.
            </h1>
        </div>
    </div>
    <div class="empreendimentos-img">
        <picture>
            <source media="(max-width: 480px)" srcset="images/embasamento.jpg" />
            <img src="images/embasamento.jpg" alt="Fachada" class="img-fluid" />
        </picture>

        <h1 class="empreendimentos-tit-mob">
            Arquitetura <br class="mob"> marcante conectada <br class="mob"> a elementos naturais.
        </h1>
    </div>
</section>