<section class="escolha" id="escolha">
    <div class="container">

        <h1 class="escolha-tit">
            Escolha viver com o selo <br> genuíno do alto padrão.
        </h1>
    
        <div class="escolha-img">
            <div class="content">
                <div class="imagem">
                    <img src="images/destaque-1.jpg" alt="">                
                </div>
                <div class="imagem">
                    <img src="images/destaque-2.jpg" alt="">
                </div>
                <div class="imagem">
                    <img src="images/destaque-3.jpg" alt="">
                </div>
            </div>
            <p class="legenda">Imagens Ilustrativas</p>
        </div>
        
        <div class="escolha-paragrafo">
            <p class="escolha-par"> É notável como qualidades espectaculares de determinados produtos nos fazem
                associá-los às suas origens. Quando reconhecidos pelo selo D.O.C (Denominação de
                Origem Controlada), reúnem atributos que comprovam a procedência incontestável, a
                raridade da localização e a excelência nas etapas de execução. As designações
                Bordeaux e Brie são exemplos de D.O.C. conhecidas mundialmente.
                Se essa certificação também pudesse ser aplicada ao segmento 
                imobiliário, certamente reconheceria o projeto pela legitimidade do endereço, bem
                no coração do bairro. A tradição das incorporadoras R. Yazbek, Rofer e AMY somada
                aos profissionais convidados para dar vida ao projeto garante o design de altíssimo
                padrão e a chancela da exclusividade. Um legado inigualável para a cidade
                que já nasce referência na região.
                
            </p>
        </div>

    </div>
</section>