<footer class="footer">
    <div class="container">
        <div class="footer-texto">
            <h1 class="footer-tit">Rua Afonso Braz, 550 <br> Vila Nova Conceição</h1>
        </div>

        <label class="label1" for="img"> Realização: </label>
        <label class="label2" for="img"> Participação: </label>
        <div class="footer-logoid360">
            <a href="https://www.ryazbek.com.br/?utm_source=site_clientes&utm_campaign=<%=utm%>&utm_medium=logo_rodape"
                target="_blank">
                <img src="images/logo_r_yazbek.png" alt="ID360 New Media">
            </a>
            <a href="http://www.amy.com.br/?utm_source=site_clientes&utm_campaign=<%=utm%>&utm_medium=logo_rodape"
                target="_blank">
                <img src="images/logo_amy.png" alt="ID360 New Media">
            </a>
            <a href="http://www.gruporofer.com.br/?utm_source=site_clientes&utm_campaign=<%=utm%>&utm_medium=logo_rodape"
                target="_blank">
                <img src="images/logo_rofer.png" alt="ID360 New Media">
            </a>
        </div>

        <div class="final-text">
            <p>Incorporadora responsável: RYPE SPE 17 Empreendimento Imobiliário Ltda. Incorporação Imobiliária registrada sob o no R.02 da matrícula 201.636 do 4o Oficial de Registro de Imóveis de São Paulo. As imagens constantes neste material são preliminares, meramente ilustrativas e não representam fotografias exatas do empreendimento. As imagens e informações poderão sofrer alterações em decorrência do desenvolvimento do projeto. Veiculado em abril de 2022.</p>
        </div>
    </div>
</footer>