<header class="header">

    <div class="header-barra"></div>

    <div class="container">
        <div class="header-logo">
            <img src="images/logo.png" alt="<%=nome%>">
        </div>

        <div class="menu">
            <nav>
                <ul>
                    <!-- <li><a class="menu-link" href="#video">Vídeo</a></li> -->
                    <li><a class="menu-link" href="#escolha">Conceito D.O.C</a></li>
                    <li><a class="menu-link" href="#localizacao">Localização</a></li>
                    <li><a class="menu-link" href="#empreendimentos">Projeto</a></li>
                    <li><a class="menu-link" href="#plantas">Plantas</a></li>
                    <li><a class="menu-link" href="#lazer">Lazer</a></li>
                    <!-- <li><a class="menu-link" href="#video">Vídeo</a></li> -->
                    <li><a class="menu-destaque js-open-modal" data-modal-target="email" href="#"><span>Fale Conosco</span></a></li>
                    <li class="menu-instagram"><a href="https://www.instagram.com/docvilanova/" target="_blank">
                        <i class="icon-instagram"></i>
                    </a></li>
                </ul>
            </nav>
        </div>
    </div>

    <button class="btn-menu js-menu-toggle">
        <span class="btn-menu-icon"><span></span></span>
    </button>
</header>