<section class="intro">

  <div class="container">
    <div class="container-intro">
      <p>Obras Iniciadas</p>

      <h1 class="tit">
        Uma Edição <br class="mob"> rara no <br class="mob"> coração <br class="desk"><br class="mob"> da vila nova <br class="mob"> conceição.
      </h1>
    </div>

    <div class="container-infos">

      <div class="container-address">
        <img src="images/pin.png" alt="" class="intro-pin">
        <h1 class="intro-address-tit">
          Rua Afonso Braz, 550 <br class="desk"> <br class="mob">
          Entre a praça Pereira Coutinho <br class="desk"> <br class="mob">
          e Parque Ibirapuera.
        </h1>
      </div>
  
      <div class="container-ap">
        <img src="images/aptos.png" alt="" class="intro-arrow">
        <h1 class="intro-ap-tit">
          Apartamentos de 195m² <br class="desk"> <br class="mob">
          3 suites | 3 vagas.
        </h1>
      </div>

    </div>
    
  </div>

  <div class="intro-img">
    <picture>
      <source media="(max-width: 480px)" srcset="images/banner-mobile.jpg" />
      <img src="images/banner-desk.jpg" alt="Fachada" class="img-fluid" />
      <!-- <label>Perspectiva Ilustrada do Lobby.</label> -->
    </picture>
  </div>
</section>