<section class="lazer" id="lazer">
    <div class="container">
        <h1 class="lazer-tit">Residências de 195m² <br class="mob"> <span>|</span> 3 suítes | 3 vagas</h1>
        <br>
        <div class="lazer-paragrafo">
            <p class="lazer-par"> Os tijolos que recobrem pontos específicos da fachada são o resultado de um design</p>
            <p class="lazer-par"> autoral assinado por Pablo Slemenson. Nas áreas de convívio, elementos em</p>
            <p class="lazer-par"> madeira trazem a proximidade com o rústico em uma narrativa visual orgânica</p>
            <p class="lazer-par"> e acolhedora. A paleta com nuances terrosas no mobiliário contrasta com o verde</p>
            <p class="lazer-par"> do paisagismo em uma mistura vibrante e expressiva.</p>
        </div> <br> <br>

        <h1 class="lazer-areas-tit">Áreas Comuns</h1>
        
        <% index_galeria = 0 %>
        <%- include ('galeria') %>
    </div>
    


</section>