<section class="localizacao" id="localizacao">
    <div class="container">
        <div class="localizacao-imagem">
            <p>No endereço mais <br class="mob"> nobre de São Paulo</p>
        </div>
    </div>
    <div class="localizacao-paragrafo">
        <p class="localizacao-par">A infraestrutura do entorno garante <br class="mob"> experiências memoráveis em estabelecimentos <br class="mob"> <br class="desk">
            marcadamente recochecidos pela excelência. <br class="mob"> Certificado pela procedência de origem <br class="mob"> incontestável, <br class="desk">
            o D.O.C Vila Nova é uma <br class="mob"> verdadeira raridade na região.
        </p>
    </div>
</section>