<div class="modal-contato" data-modal-contato="whatsapp">
    <div class="modal-contato-scroll">
        <div class="container">
            
            <h3 class="modal-contato-tit">
                <img src="images/logo.png" alt="<%= nome %>">
                Solicite um contato <br>pelo Whatsapp
            </h3>

            <%
            form_nome = 'formModalWhats';
            form_prefixo = 'FMW';
            form_tipo = 'Whatsapp';
            form_canal = 'mensagem';
            form_btn = 'solicitar contato';
            %>

            <%- include ('form') %>

        </div>
    </div>

    <button class="btn-fechar js-close-modal"><i class="icon-close"></i></button>
</div>