<div class="modal-mapa" data-modal-mapa="mapa">
    <div class="modal-mapa-scroll">
        <img src="images/mapa-ilustrado.jpg" alt="<%= nome %>">
    </div>

    <button class="btn-fechar js-close-modal-map"><i class="icon-close"></i></button>
</div>