<section class="tour">
    <div class="container">
        <h1 class="tit">Tour Virtual</h1>

        <div class="ratio ratio-16x9">
            <button class="tour-button js-play"><i class="icon-camera"></i></button>
            <iframe allowscriptaccess="always" data-src="https://www.youtube.com/embed/FMZSbRjjmds?rel=0&showinfo=0&autoplay=1&modestbranding=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
        </div>
        
    </div>
</section>