<section class="video" id="video">
    <div class="container">
        <h1 class="tit">O Lifestyle mais <br class="mob"> charmoso da cidade.</h1>

        <div class="ratio ratio-16x9">
            <button class="video-button js-play"><i class="icon-play"></i></button>
            <iframe allowscriptaccess="always" data-src="https://www.youtube.com/embed/8eb95IJqJxU?rel=0&showinfo=0&autoplay=1&modestbranding=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
        </div>
    </div>
</section>