$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-tel: "\e900";
$icon-chat: "\e901";
$icon-mail: "\e906";
$icon-camera: "\e902";
$icon-down: "\e903";
$icon-prev: "\e905";
$icon-next: "\e904";
$icon-close: "\e907";
$icon-whatsapp: "\ea5e";
$icon-play: "\e908";

